*{
    padding: 0;
    margin: 0;
}
.container{
    width: 600px;
    margin: 20px auto;
}

.header{
    padding: 20px 50px;
    background-color: aquamarine;
}
.header-title{
    color: brown;
    font-family: Ariel;
    font-size: 40px;
}
.content-text{
    margin-top: 20px;
    background-color: coral;
    color: black;
    box-shadow: 0 0 5px;
    outline-style: double;
    padding: 15px;


    /* Властивість, яка дозволяє задати шрифт для елементу. Після : пишемо назву шрифту */
    font-family: Arial;
    /* Якшо вказаного шрифту не існує-використовуємо той, шо написаний через кому */
    font-family: Montserrat, Arial;


    /* Властивість, яка дозволяє задати стиль шрифту: Normal, italik,obliqie  */
    font-style: oblique;
        /* Властивість, яка встановлюєж жирність тексту, чим більше число - тим більше текст  */
    font-weight: 700;

        /* Властивість, яка задає розмір шрифту */
    font-size: 25px;
    /* можемо вказати розмір в ем, де 1ем=16пх */
    font-size: 1em;

    font-family: "Noto Serif Todhri Static", arial;
    font-weight: 400;
}